{
  "openapi": "3.1.0",
  "info": {
    "title": "Markdown Tidy API",
    "version": "v1",
    "description": "The public Markdown Tidy API. Convert / clean / repair markdown into HTML, plain text, PDF, DOCX, or PNG. Authenticate with an `X-API-KEY` header — create one in your dashboard at /account/api-keys. Each successful /convert call debits 1 credit from your wallet."
  },
  "servers": [
    {
      "url": "https://mdtidy.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Issued via dashboard. Prefix `mt_test_…` for sandbox, `mt_live_…` for production."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace `/v1` routes accept the same dashboard-issued key as `Authorization: Bearer mt_live_…`. First-party UI uses the session cookie instead."
      }
    },
    "schemas": {
      "ConvertRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "markdown",
          "format"
        ],
        "properties": {
          "markdown": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1048576,
            "description": "The markdown source to convert. UTF-8. Hard cap: 1 MB."
          },
          "format": {
            "type": "string",
            "enum": [
              "html",
              "text",
              "pdf",
              "docx",
              "png"
            ],
            "description": "Output format."
          },
          "designSystem": {
            "type": "string",
            "maxLength": 128,
            "enum": [
              "minimal-clean",
              "executive-report",
              "developer-docs"
            ],
            "description": "Slug of a built-in design system. Defaults to `minimal-clean`. An unknown slug returns 400 `unknown_design_system`. Available: `minimal-clean` (Minimal Clean), `executive-report` (Executive Report), `developer-docs` (Technical Doc)."
          },
          "settings": {
            "$ref": "#/components/schemas/ConvertSettings",
            "description": "Optional per-stage configuration envelope. Future stages (render, repair, etc.) will namespace their options under this object alongside `tidy`. Omit to accept all defaults."
          },
          "page": {
            "$ref": "#/components/schemas/PageSettings",
            "description": "Optional per-document page geometry + font scale. Every field is optional; omitted fields inherit from the design system. Geometry (paper size / orientation / margins) affects PDF, DOCX, and PNG; font scale additionally affects HTML and text. No credit cost."
          }
        }
      },
      "PageSettings": {
        "type": "object",
        "additionalProperties": false,
        "description": "Per-document page geometry + font scale. All fields optional — an omitted field inherits the chosen design system default. Render options only; never affects credits.",
        "properties": {
          "paperSize": {
            "type": "string",
            "enum": [
              "Letter",
              "A4",
              "A3"
            ],
            "description": "Paper size. Defaults to the design-system page size."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "portrait",
              "landscape"
            ],
            "description": "Page orientation. Defaults to the design-system value (portrait)."
          },
          "marginPreset": {
            "type": "string",
            "enum": [
              "narrow",
              "normal",
              "wide"
            ],
            "description": "Margin preset (narrow 12.7mm / normal 25.4mm / wide 38.1mm). Defaults to the design-system preset."
          },
          "fontScale": {
            "type": "string",
            "enum": [
              "down",
              "normal",
              "up"
            ],
            "description": "Uniform font + typographic-spacing scale (0.75 / 1.0 / 1.25). Defaults to `normal`. Does not change page margins."
          }
        }
      },
      "ConvertSettings": {
        "type": "object",
        "additionalProperties": false,
        "description": "Per-stage configuration. v1 ships the `tidy` sub-object; future releases extend this surface without flattening the top-level request.",
        "properties": {
          "tidy": {
            "$ref": "#/components/schemas/TidySettings"
          }
        }
      },
      "TidySettings": {
        "type": "object",
        "additionalProperties": false,
        "description": "Configuration for the Tidy stage (cleanup + repair). All fields optional; defaults run the full Tidy pipeline with polish on.",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "Run the Tidy pipeline (cleanup + repair) before rendering. Defaults to `true`. Set `false` to render the markdown as-is."
          },
          "polish": {
            "type": "boolean",
            "description": "Apply the opinionated typography polish rules (em-dash → \"-\", formal phrasings contracted). Defaults to `true`. Only meaningful when `enable` is not `false`."
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "format",
          "contentType",
          "byteSize",
          "designSystem",
          "warnings",
          "creditsCharged",
          "creditsRemaining",
          "requestId"
        ],
        "properties": {
          "format": {
            "type": "string",
            "enum": [
              "html",
              "text",
              "pdf",
              "docx",
              "png"
            ]
          },
          "contentType": {
            "type": "string"
          },
          "byteSize": {
            "type": "integer",
            "minimum": 0
          },
          "designSystem": {
            "type": "string"
          },
          "output": {
            "type": "string",
            "description": "Inline body for text/HTML outputs."
          },
          "outputBase64": {
            "type": "string",
            "description": "Base64-encoded body for binary outputs (PDF/DOCX/PNG)."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "rule",
                "fixes"
              ],
              "properties": {
                "rule": {
                  "type": "string"
                },
                "fixes": {
                  "type": "integer"
                }
              }
            }
          },
          "creditsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "creditsRemaining": {
            "type": "integer",
            "minimum": 0
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "subscriptionCredits",
          "topupCredits",
          "creditsRemaining",
          "periodEnd",
          "callsThisPeriod",
          "recentCalls"
        ],
        "properties": {
          "subscriptionCredits": {
            "type": "integer",
            "minimum": 0
          },
          "topupCredits": {
            "type": "integer",
            "minimum": 0
          },
          "creditsRemaining": {
            "type": "integer",
            "minimum": 0
          },
          "periodEnd": {
            "type": "string",
            "nullable": true
          },
          "callsThisPeriod": {
            "type": "integer",
            "minimum": 0
          },
          "recentCalls": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "endpoint",
                "statusCode",
                "durationMs",
                "format",
                "creditsCharged",
                "errorCode",
                "createdAt"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "endpoint": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer"
                },
                "durationMs": {
                  "type": "integer"
                },
                "format": {
                  "type": "string",
                  "nullable": true
                },
                "creditsCharged": {
                  "type": "integer"
                },
                "errorCode": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Entitlement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "signed_in",
          "credits_balance",
          "plan",
          "can_save",
          "can_share",
          "unlimited_save"
        ],
        "properties": {
          "signed_in": {
            "type": "boolean"
          },
          "credits_balance": {
            "type": "integer",
            "minimum": 0
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "premium"
            ]
          },
          "can_save": {
            "type": "boolean"
          },
          "can_share": {
            "type": "boolean"
          },
          "unlimited_save": {
            "type": "boolean"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "required": {
                "type": "integer"
              },
              "balance": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "type",
          "name",
          "description",
          "file_count",
          "folder_count",
          "archived",
          "visibility",
          "public_url",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "project"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "file_count": {
            "type": "integer",
            "minimum": 0
          },
          "folder_count": {
            "type": "integer",
            "minimum": 0
          },
          "archived": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public",
              "restricted"
            ]
          },
          "public_url": {
            "type": "string",
            "nullable": true,
            "description": "`https://mdtidy.com/p/{slug}` when public; null otherwise."
          },
          "shared_by": {
            "type": "string",
            "nullable": true,
            "description": "Owner display name; only on scope=shared items."
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "ShareInvitee": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "email",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "viewer"
            ]
          }
        }
      },
      "Share": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "visibility",
          "public_url",
          "project_url",
          "invitees"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public",
              "restricted"
            ]
          },
          "public_url": {
            "type": "string",
            "nullable": true,
            "description": "`https://mdtidy.com/p/{slug}` when the link is the active mode."
          },
          "project_url": {
            "type": "string",
            "nullable": true,
            "description": "`https://mdtidy.com/p/{slug}` whenever the project is shared (public OR restricted); null when private. Append `/{fileId}` for a direct file link."
          },
          "invitees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShareInvitee"
            }
          },
          "credits_remaining": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "InviteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "emails"
        ],
        "properties": {
          "emails": {
            "type": "array",
            "minItems": 1,
            "maxItems": 25,
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Up to 25 viewer emails. 1 credit per call; already-invited emails are free."
          }
        }
      },
      "Folder": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "type",
          "project_id",
          "parent_id",
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "folder"
            ]
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Immediate parent: the project id (root folder) or another folder id."
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "File": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "type",
          "project_id",
          "folder_id",
          "name",
          "archived",
          "version",
          "etag",
          "last_opened_at",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "folder_path": {
            "type": "array",
            "description": "Top-down folder ancestry (excludes project + file); [] at the project root. Returned by GET /v1/files/{id} and POST /v1/files.",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id",
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "name": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "etag": {
            "type": "string",
            "description": "Quoted version; mirrors the ETag header."
          },
          "last_opened_at": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "credits_remaining": {
            "type": "integer",
            "minimum": 0
          },
          "content": {
            "type": "string",
            "description": "Markdown body; returned by GET /v1/files/{id}."
          },
          "after_md_gcs": {
            "type": "string",
            "nullable": true
          },
          "rendered_html_gcs": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "UpdateProjectRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "CreateFolderRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "parent_folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Optional parent folder (nesting). When set, the folder is created inside it; omit/null for the project root. Must belong to the addressed project."
          }
        }
      },
      "UpdateFolderRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "CreateFileRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "name",
          "content"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "content": {
            "type": "string",
            "maxLength": 1048576
          }
        }
      },
      "UpdateFileRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Autosave / rename / move / archive. Content writes require the `If-Match` header (or `version` field) and bump the file version.",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 1048576
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "archived": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          }
        }
      }
    },
    "responses": {
      "InvalidRequest": {
        "description": "Schema validation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "MissingApiKey": {
        "description": "X-API-KEY header was not supplied.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "InvalidApiKey": {
        "description": "X-API-KEY is malformed, unknown, or revoked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "OutOfCredits": {
        "description": "Wallet has insufficient credits to satisfy the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Request body exceeds the 1 MB cap.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "UnsupportedFormat": {
        "description": "Requested format is not one of the supported outputs.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Per-key rate limit (60/min) exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "headers": {
          "RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            }
          },
          "RateLimit-Reset": {
            "schema": {
              "type": "integer"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "InternalError": {
        "description": "Server failed to complete the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found, or not owned by the caller (IDOR-safe).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "Conflict": {
        "description": "Name collision, stale write, or a resource limit was reached.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request body failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "PreconditionRequired": {
        "description": "A content write omitted the required If-Match / version precondition.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/convert": {
      "post": {
        "summary": "Clean, repair, and convert markdown",
        "description": "Runs the markdown through the requested pipeline (clean / repair) and renders to the requested output format. Charges 1 credit per successful render; failures are refunded automatically.",
        "operationId": "convert",
        "tags": [
          "convert"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion succeeded.",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedFormat"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "summary": "Read the caller credit balance and recent usage",
        "description": "Returns the current wallet balance + recent API calls for the authenticated principal. Cheap; suitable for a dashboard widget.",
        "operationId": "usage",
        "tags": [
          "usage"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance + recent calls.",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/MissingApiKey"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/credits": {
      "get": {
        "summary": "Read the caller workspace entitlement",
        "description": "Returns the entitlement object the workspace UI gates on (`can_save` / `can_share` / `unlimited_save`). Derived server-side from the wallet balance + plan. Unauthenticated callers receive a 200 with every gate closed.",
        "operationId": "credits",
        "tags": [
          "credits"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/projects": {
      "post": {
        "summary": "Create a project",
        "operationId": "createProject",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "summary": "List projects",
        "operationId": "listProjects",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mine",
                "shared",
                "archived"
              ],
              "default": "mine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "scope",
                    "items"
                  ],
                  "properties": {
                    "scope": {
                      "type": "string",
                      "enum": [
                        "mine",
                        "shared",
                        "archived"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Get a project with its folders + files",
        "operationId": "getProject",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project + folders + files.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Project"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "folders": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Folder"
                          }
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/File"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "summary": "Rename / set description / archive / restore a project",
        "operationId": "updateProject",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Permanently delete a project (cascade + GCS sweep + revoke shares)",
        "operationId": "deleteProject",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/folders": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Create a folder under a project",
        "operationId": "createFolder",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/folders/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "summary": "Rename a folder",
        "operationId": "updateFolder",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Delete a folder (409 if it holds active files; archived files move to root)",
        "operationId": "deleteFolder",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files": {
      "post": {
        "summary": "First save — create a file (charges 1 credit)",
        "description": "Writes content to GCS (saga) then atomically charges 1 credit (`file_save`) and inserts the file at version 1. Accepts an `Idempotency-Key` header — replays return the original result with no second charge.",
        "operationId": "createFile",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File created.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Read a file (returns version + ETag)",
        "operationId": "getFile",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata + content pointers.",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "summary": "Autosave / rename / move / archive / restore a file",
        "description": "Content writes REQUIRE `If-Match: \"<version>\"` (or a `version` body field). A stale precondition returns 409 with the current server copy. Content writes overwrite the working blob and bump the version; they do not create version-history rows. 0 credits.",
        "operationId": "updateFile",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated file.",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Permanently delete a file (hard delete + GCS sweep)",
        "operationId": "deleteFile",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{id}/copy": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Copy a file as a new file (charges 1 credit)",
        "operationId": "copyFile",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "File copied.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Current share state for a project",
        "operationId": "getProjectShare",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Share state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share/public": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Turn on the public link (1 credit, free within 30-day slug grace)",
        "operationId": "enableProjectPublicLink",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public link enabled.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Remove the public link (starts the 30-day slug grace; 0 credits)",
        "operationId": "disableProjectPublicLink",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public link removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share/public/regenerate": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Issue a new slug (1 credit; old slug 404s immediately, grace forfeited)",
        "operationId": "regenerateProjectPublicLink",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New public link issued.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share/invites": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Invite viewers (restricted mode; 1 credit per call)",
        "operationId": "inviteProjectViewers",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitees added; share is now restricted.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/OutOfCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share/invites/{email}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "email",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "email"
          }
        }
      ],
      "delete": {
        "summary": "Remove an invitee (0 credits)",
        "operationId": "removeProjectInvitee",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invitee removed (or already absent)."
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/projects/{id}/share/private": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Make the project private (retain slug + invitees inactive; 0 credits)",
        "operationId": "makeProjectPrivate",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project is now private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  }
}
